body{
  background-color: red;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.navigate{
  background-color: slategrey;
  display: flex;
  gap: 2em;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-left: 5em;
  border-radius: 3em;
  margin-top: 1em;


}


.navigate h3 a {
  color: white; 
  text-decoration: none; 
  display: inline-block; 
  transition: transform 0.3s ease, color 0.3s ease; 
  margin-left: 2em;
  font-family: serif;
}

.navigate h3 a:hover {
  color: aqua;
  transform: rotate(10deg); 
}

.pic{
  margin-left: 10em;

}